@use "_reset.scss";
@font-face {
  font-family: "kawaiitegakimoji";
  src: url(../fonts/KTEGAKI.ttf);
}

:root {
  --color_timmew-yellow_P0: #fadf7b;
  --color_timmew-yellow_P4: #f6c515;
  --color_timmew-section-bg: #fef9e5;
  --color_timmew-font-color: #005755;
}

header {
  background-color: var(--color_timmew-yellow_P0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
  .header {
    margin: auto;
    max-width: 1280px;
    height: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin: auto;
    padding: 0 64px;

    img {
      height: 30px;
    }
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0em;
}

// メインビジュアル
main {
  overflow: hidden;
}
.mainvisual {
  overflow: hidden !important;
  margin-top: 60px;
  height: calc(576 / 1280 * 100vw);

  font-size: 20px;
  position: relative;

  .mv-bg-img-1 {
    position: absolute;
    left: -100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: slideIn-1;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideIn-1 {
    100% {
      left: -25%;
      opacity: 1;
    }
  }
  .mv-bg-img-2 {
    position: absolute;
    right: -100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: slideIn-2;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  @keyframes slideIn-2 {
    100% {
      right: -25%;
      opacity: 1;
      z-index: -1;
    }
  }
  .mainvisual {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
  }
  .mainvisual_contaner {
    // width: 1280px;
    height: calc(576 / 1280 * 100vw);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding-left: 15.625vw;
    color: var(--color_timmew-font-color);
    position: relative;
    font-size: 1.5625vw;

    .MV_text {
      position: absolute;
      top: 25%;
      z-index: 1;
      font-size: 1.5625vw;
      .consept-text {
        background-color: var(--color_timmew-font-color);
        color: #fff;
        font-weight: 600;
        padding: 0.3125vw 3.125vw;
        margin-bottom: 1.25vw;
        width: fit-content;
      }
      .catchcopy {
        text-shadow: 2px 2px var(--color_timmew-yellow_P4);
        font-size: 3.125vw;
        font-weight: 600;
        margin-bottom: 2.8125vw;
      }
      .MV_text_announce {
        margin-bottom: 2.8125vw;
        img {
          height: 1.5625vw;
          display: inline-block;
        }
      }
      .login-btn_area {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-top: 0.78125vw;
        width: calc((280 / 1280) * 100vw);
        height: 4.6875vh;
      }
      .button_base {
        position: relative;
        width: 21.875vw;
        height: calc(21.875vw * 0.214285714);
        border-radius: calc(21.875vw * 0.5);
        text-align: center;
        box-sizing: border-box;
        cursor: default;
        box-shadow: 0.234375vw 0.234375vw 0vw #026b47;
      }

      .button_base:hover {
        cursor: pointer;
      }

      .b03_skewed_slide_in {
        overflow: hidden;
      }

      .b03_skewed_slide_in div {
        position: absolute;
        text-align: center;
        width: 100%;
        height: calc(21.875vw * 0.214285714);
        border-radius: calc(21.875vw * 0.5);
        box-sizing: border-box;
        font-weight: 600;
        padding: 0.9375vw;
      }

      .b03_skewed_slide_in div:nth-child(1) {
        background: #0efaa8;
        border: 1px solid #2cfbb3;
        box-shadow: 0.234375vw 0.234375vw 0vw #026b47;
      }

      .b03_skewed_slide_in div:nth-child(2) {
        background: #ffffff;
        border: 1px solid #0efaa8;
        border-radius: calc(4.6875vh / 2);
        width: 100%;
        transition: all 0.2s ease;
        transform: translate(-23.4375vw, 0vw);
      }

      .b03_skewed_slide_in div:nth-child(3) {
        color: var(--color_timmew-font-color);
        // left: -300px;
        // transition: left 0.2s ease;
      }

      .b03_skewed_slide_in:hover div:nth-child(2) {
        transition: all 0.5s ease;
        transform: translate(0px, 0px);
      }

      .b03_skewed_slide_in:hover div:nth-child(3) {
        left: 0px;
        transition: left 0.3s ease;
      }
    }

    .MV_image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: calc(576 / 1280 * 100vw);
      // padding-top: calc(500 / 880 * 100%); /* アスペクト比を維持 */
    }
    .MV_image-main {
      width: calc(100vw); /* 幅はブラウザの幅から余白などを引いた値にする */
      height: calc(
        100vw * 500 / 1280
      ); /* 高さは幅をアスペクト比に基づいて計算する */
      overflow: hidden !important;
      opacity: 0;
      transform: rotate(15deg);
      transition: opacity 0.5s ease-in-out; // アニメーション設定
      position: absolute;
      top: 13%;
      left: 31.25vw;
      max-width: calc(880 / 1280 * 100vw);
      object-fit: cover;
    }
  }
}

.section-title {
  display: inline-block;
  color: var(--color_timmew-font-color);
  font-family: "kawaiitegakimoji", sans-serif;
  // border-bottom: solid 10px var(--color_timmew-yellow_P0);
  padding-bottom: 3px;
  margin: auto;
  margin-bottom: 80px;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.animated-border {
  position: relative;
  overflow: hidden;
}

.animated-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--color_timmew-yellow_P0);
  transform: translateX(-100%);
  transition: transform 1s ease-out;
}

.animated-border.animate::after {
  transform: translateX(0);
}
@media (max-width: 1000px) {
  .section-title {
    font-size: 30px;
  }
  .animated-border::after {
    content: "";
    height: 5px;
  }
}
@media (max-width: 599px) {
  .section-title {
    font-size: 26px;
    margin: 20px;
  }
}

// problem
.problem {
  display: flex;

  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: var(--color_timmew-font-color);
  .problem_contaner {
    margin: 120px auto;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    p {
      margin: 16px auto;
      text-align: start;
      width: 180px;
    }
  }
  .problem_arrow {
    width: 500px;
    height: 268px;
    margin: auto;
    text-align: left;

    p {
      padding-top: 60px;
      font-size: 32px;
      font-weight: 600;
    }
    img {
      display: inline-block;
      height: 40px;
    }
  }

  .problem_arrow::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    border-top: 268px solid #fef9e5;
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    z-index: -1;
  }
}
@media (max-width: 1000px) {
  .problem {
    font-size: 18px;
    .problem_contaner {
      margin: 80px auto;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      gap: 20px;
      li {
        img {
          width: 150px;
        }
      }
      p {
        width: 150px;
        font-size: 14px;
      }
    }
    .problem_arrow {
      width: auto;
      height: 200px;

      p {
        padding-top: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
      }
      .problem_arrow-logo {
        display: inline-block;
        height: 30px;
      }
    }
    .problem_arrow::before {
      border-top: 160px solid #fef9e5;
      border-left: 240px solid transparent;
      border-right: 240px solid transparent;
    }
  }
}
@media (max-width: 599px) {
  .problem {
    display: flex;
    font-size: 18px;
    .problem_contaner {
      margin: 60px auto 30px;
    }
    .problem_arrow {
      width: auto;
      height: 120px;
      margin: auto;
      text-align: left;

      p {
        padding-top: 20px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
      }
      .problem_arrow-logo {
        display: inline-block;
        height: 20px;
      }
    }
    .problem_arrow::before {
      border-top: 120px solid #fef9e5;
      border-left: 140px solid transparent;
      border-right: 140px solid transparent;
    }
  }
}

// おすすめ
.recommended {
  background-color: var(--color_timmew-section-bg);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: var(--color_timmew-font-color);
  .recommended_contaner {
    margin: 120px auto;
  }
  .animated-img {
    display: inline;
    opacity: 0;
    transition: opacity 2s ease-out 1s; /* 1s delay to match the border animation */
  }
  .animated-img.animate {
    opacity: 1;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    p {
      margin: 16px auto;
      width: 200px;
      text-align: start;
    }
  }
}
@media (max-width: 1000px) {
  .recommended {
    .recommended_contaner {
      margin: 80px auto;
    }
    ul {
      justify-content: center;
      li {
        img {
          width: 150px;
        }
        p {
          width: 150px;
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 599px) {
  .recommended {
    .recommended_contaner {
      margin: 60px auto 30px;
    }
    ul {
      justify-content: center;
      li {
        img {
          width: 150px;
        }
        p {
          width: 150px;
          font-size: 14px;
        }
      }
    }
  }
}
// メリット
.advantages {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: var(--color_timmew-font-color);
  .advantages_contaner {
    margin: 120px 64px;
    .section-title {
      margin-bottom: 32px;
    }
    .section-title_text {
      font-size: 26px;
      letter-spacing: 0.1em;
      margin-bottom: 80px;
    }
    li {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin-top: 120px;
    }
    img {
      width: 610px;
      height: 395px;
      background-color: #eee;
    }
    .img-text {
      flex-direction: row;
    }
    .advantages-imgae {
      box-shadow: -40px -40px #fef9e5;
    }
    .advantages_image-area {
      position: relative;
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      transition: opacity 0.3s;
      // @keyframes fadeIn {
      //   from {
      //     opacity: 0;
      //   }
      //   to {
      //     opacity: 1;
      //   }
      // }
      .advantages_namber {
        position: absolute;
        top: -40px;
        right: 0;
        background-color: transparent;
      }
      .advantages_namber-reverse {
        position: absolute;
        top: -40px;
        left: 0px;
        background-color: transparent;
      }
      .advantages_namber1 {
        width: 82px;
        height: 82px;
      }
      .advantages_namber2 {
        width: 107px;
        height: 82px;
      }
      .advantages_namber3 {
        width: 107px;
        height: 82px;
      }
      .advantages_namber4 {
        width: 108px;
        height: 82px;
      }
    }
    .text-img {
      flex-direction: row-reverse;
      .advantages-imgae-reverse {
        box-shadow: 40px -40px #fef9e5;
      }
    }
    .guide-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
      margin: auto 32px;
      h2 {
        font-size: 40px;
        margin-bottom: 24px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .advantages {
    .advantages_contaner {
      // .section-title {
      // }
      .section-title_text {
        font-size: 26px;
      }
      .advantages_guide {
        width: 500px;
      }
      li {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
        margin-top: 60px;
      }
      img {
        width: 427px;
        height: 276px;
        background-color: #eee;
      }
      .img-text {
        flex-direction: row;
      }
      .advantages-imgae {
        box-shadow: 20px -20px #fef9e5;
      }
      .advantages_image-area {
        position: relative;
        .advantages_namber {
          position: absolute;
          top: -40px;
          left: 0;
          background-color: transparent;
        }
        .advantages_namber-reverse {
          position: absolute;
          top: -40px;
          left: 0px;
          background-color: transparent;
        }
      }
      .text-img {
        flex-direction: row-reverse;
        .advantages-imgae-reverse {
          box-shadow: 20px -20px #fef9e5;
        }
      }
      .guide-text {
        margin: 24px;
        h2 {
          font-size: 24px;
          margin-bottom: 24px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 599px) {
  .advantages {
    .advantages_contaner {
      margin: 60px auto 30px;
      .section-title_text {
        font-size: 18px;
      }
      .advantages_guide {
        width: 400px;
      }
      img {
        width: 305px;
        height: 197px;
      }
      .advantages_image-area {
        position: relative;

        .advantages_namber1 {
          width: 41px;
          height: 41px;
        }
        .advantages_namber2 {
          width: 53.5px;
          height: 41px;
        }
        .advantages_namber3 {
          width: 53.5px;
          height: 41px;
        }
        .advantages_namber4 {
          width: 54px;
          height: 41px;
        }
      }
      .guide-text {
        justify-content: center;
        text-align: center;
        h2 {
          font-size: 20px;
          margin-bottom: 24px;
        }
      }
    }
  }
}
// 始め方
.start {
  height: auto;
  background-color: var(--color_timmew-section-bg);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: var(--color_timmew-font-color);
  .start_contaner {
    margin: 120px auto;
    .section-title {
      margin-bottom: 32px;
    }
    .section-title_text {
      font-size: 26px;
      letter-spacing: 0.1em;
      margin-bottom: 80px;
      text-align: center;
      padding: 0;
    }
    .step {
      margin-bottom: 40px;
      .step-title {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        height: 152px;
        z-index: 1;
      }
      h3 {
        margin: -20px;
        background-color: var(--color_timmew-yellow_P4);
        color: #fff;
        font-size: 40px;
        width: 800px;
        height: 77px;
        text-align: start;
        line-height: 80px;
        padding-left: 42px;
        font-weight: 500;
      }
      p {
        text-align: start;
        padding: 10px 0 10px 150px;
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .start {
    .start_contaner {
      margin: 60px auto;
      padding: 0;
      // .section-title {
      // }
      .section-title_text {
        font-size: 26px;
      }
      .step {
        margin-bottom: 40px;
        .step-title {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img {
          height: 100px;
        }
        h3 {
          margin: -20px;
          font-size: 30px;
          width: 600px;
          height: 57px;
          text-align: start;
          line-height: 57px;
          padding-left: 42px;
        }
        p {
          text-align: start;
          padding: 10px 0px 10px 150px;
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 599px) {
  .start {
    .start_contaner {
      margin: 60px auto 30px;
      padding: 0;
      // .section-title {
      // }
      .section-title_text {
        font-size: 18px;
        margin-bottom: 40px;
      }
      .step {
        margin-bottom: 20px;
        padding: auto 20px;
        img {
          height: 50px;
        }
        h3 {
          margin: -20px;
          font-size: 16px;
          width: 300px;
          height: 37px;
          text-align: start;
          line-height: 37px;
          padding-left: 32px;
        }
        p {
          text-align: center;
          margin: auto;
          padding: 20px 0;
          width: 300px;

          font-size: 14px;
        }
      }
    }
  }
}
// 質問
.question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--color_timmew-font-color);
  .question_contaner {
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .question_contaner_QA {
    margin: auto;
    width: 800px;
    margin-bottom: 40px;
    dt {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: var(--color_timmew-yellow_P0);
      height: auto;
      border-radius: 16px;
      img {
        display: inline-block;
        padding: 20px;
        margin: 0;
      }
      .icon-more {
        position: absolute;
        top: 0;
        right: 0;
      }
      .icon-less {
        display: none;
      }
    }
    dd {
      display: none;
      font-weight: 400;

      img {
        padding: 20px;
        margin: 0;
      }
    }
  }
  // dd::before {
  //   content: "A";
  // }
  .appear dt {
    border-radius: 16px 16px 0 0;
    .icon-more {
      display: none;
    }
    .icon-less {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .appear dd {
    display: flex;
    align-items: start;
    justify-content: start;
    border: solid 2px var(--color_timmew-yellow_P0);
    border-radius: 0 0 16px 16px;
  }
}
@media (max-width: 1000px) {
  .question {
    .question_contaner {
      margin: 80px auto;
    }

    .question_contaner_QA {
      margin: auto;
      width: 600px;
      margin-bottom: 40px;
      dt {
        height: 92px;
        border-radius: 16px;
        font-size: 20px;
        img {
          display: inline-block;
          padding: 20px;
          margin: 0;
        }
        .question_contaner_QA-iconQ {
          width: 80px;
        }

        .icon-more {
          position: absolute;
          top: 0;
          right: 0;
        }
        .icon-less {
          display: none;
        }
      }
      dd {
        display: none;
        font-size: 20px;
        font-weight: 400;

        img {
          display: inline-block;
          padding: 20px;
          margin: 0;
        }
      }
    }
    // dd::before {
    //   content: "A";
    // }
    .appear dt {
      border-radius: 16px 16px 0 0;
      .icon-more {
        display: none;
      }
      .icon-less {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .appear dd {
      display: flex;
      align-items: start;
      justify-content: start;
      border: solid 2px var(--color_timmew-yellow_P0);
      border-radius: 0 0 16px 16px;
      font-size: 16px;
    }
    .appear .question_contaner_QA-iconA {
      width: 80px;
    }
  }
}
@media (max-width: 599px) {
  .question {
    .question_contaner {
      margin: 60px auto 30px;
    }

    .question_contaner_QA {
      margin: auto;
      width: 350px;
      margin-bottom: 40px;
      dt {
        height: auto;
        border-radius: 16px;
        font-size: 20px;
        p {
          width: 200px;
          font-size: 18px;
        }
        img {
          display: inline-block;
          padding: 20px;
          margin: 0;
        }
        .question_contaner_QA-iconQ {
          width: 80px;
        }

        .icon-more {
          position: absolute;
          top: 0;
          right: 0;
        }
        .icon-less {
          display: none;
        }
      }
      dd {
        display: none;
        font-size: 20px;
        font-weight: 400;
        p {
          width: 250px;
        }

        img {
          display: inline-block;
          padding: 20px;
          margin: 0;
        }
      }
    }
    // dd::before {
    //   content: "A";
    // }
    .appear dt {
      border-radius: 16px 16px 0 0;
      .icon-more {
        display: none;
      }
      .icon-less {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .appear dd {
      display: flex;
      align-items: start;
      justify-content: start;
      border: solid 2px var(--color_timmew-yellow_P0);
      border-radius: 0 0 16px 16px;
      font-size: 16px;
    }
    .appear .question_contaner_QA-iconA {
      width: 80px;
    }
  }
}
// commew紹介
.commew-introduction {
  background-color: var(--color_timmew-section-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--color_timmew-font-color);
  .commew-introduction_contaner {
    margin: 80px auto;
  }
  // h2 {

  // }
  h3 {
    font-size: 24px;
    line-height: 175%;
    margin-bottom: 24px;
  }
  p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
  }
  .commew-info {
    font-size: 14px;

    a {
      border-bottom: solid 1px var(--color_timmew-font-color);
    }
  }
}
@media (max-width: 599px) {
  .commew-introduction .commew-introduction_contaner {
    margin: 40px auto;
  }
  .commew-introduction h3 {
    font-size: 18px;
  }
}
//footer
.footer {
  background-color: var(--color_timmew-yellow_P0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  img {
    width: 237px;
    height: 81px;
    margin-bottom: 16px;
  }
}
