*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: dark light;
}

@supports not (min-block-size: 100dvb) {
  :where(html) {
    block-size: 100%;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  block-size: 100%;
  block-size: 100dvb;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(button) {
  border-style: solid;
}

:where(a) {
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
}

:where(hr) {
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(:focus-visible) {
  outline: 2px solid var(--focus-color, Highlight);
  outline-offset: 2px;
}

:where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
  clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "kawaiitegakimoji";
  src: url(../public/fonts/KTEGAKI.ttf);
}
:root {
  --color_timmew-yellow_P0: #fadf7b;
  --color_timmew-yellow_P4: #f6c515;
  --color_timmew-section-bg: #fef9e5;
  --color_timmew-font-color: #005755;
}

header {
  background-color: var(--color_timmew-yellow_P0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  width: 100%;
}
header .header {
  margin: auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 64px;
}
header .header img {
  height: 30px;
}

.mainvisual {
  margin-top: 60px;
  background-color: var(--color_timmew-yellow_P4);
  height: 576px;
  font-size: 20px;
}
.mainvisual .mainvisual_contaner {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-left: 125px;
  color: var(--color_timmew-font-color);
}
.mainvisual .mainvisual_contaner .MV_text {
  position: absolute;
  top: 25%;
  z-index: 1;
}
.mainvisual .mainvisual_contaner .MV_text .consept-text {
  background-color: var(--color_timmew-font-color);
  color: #fff;
  font-weight: 600;
  padding: 4px 40px;
  margin-bottom: 16px;
  width: 320px;
}
.mainvisual .mainvisual_contaner .MV_text h2 {
  text-shadow: 2px 2px var(--color_timmew-yellow_P4);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 36px;
}
.mainvisual .mainvisual_contaner .MV_text .MV_text_announce {
  margin-bottom: 36px;
}
.mainvisual .mainvisual_contaner .MV_text .MV_text_announce img {
  height: 20px;
  display: inline-block;
}
.mainvisual .mainvisual_contaner .MV_text .Login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 280px;
  height: 60px;
  background-color: #0efaa8;
  border-radius: 30px;
  box-shadow: 4px 4px 0 var(--color_timmew-font-color);
  transition: 0.4s;
}
.mainvisual .mainvisual_contaner .MV_text .Login_btn:hover {
  text-decoration: none;
  background-color: #fff;
  color: var(--color_timmew-font-color);
  border: solid 1px #0efaa8;
  box-shadow: 0 0 0;
}
.mainvisual .mainvisual_contaner .MV_image-main {
  position: absolute;
  left: 30%;
  min-width: 993px;
  min-height: 576px;
  background-color: var(--color_timmew-yellow_P4);
}

.section-title {
  display: inline-block;
  color: var(--color_timmew-font-color);
  font-family: "kawaiitegakimoji", sans-serif;
  border-bottom: solid 10px var(--color_timmew-yellow_P0);
  margin: auto;
  margin-bottom: 80px;
  font-size: 50px;
  font-weight: 500;
}

.problem {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: var(--color_timmew-font-color);
}
.problem .problem_contaner {
  margin: 120px auto;
}
.problem ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}
.problem ul p {
  margin: 16px auto;
  width: 150px;
}
.problem .problem_arrow {
  width: 500px;
  height: 268px;
  margin: auto;
  text-align: left;
}
.problem .problem_arrow p {
  padding-top: 60px;
  font-size: 32px;
  font-weight: 600;
}
.problem .problem_arrow img {
  display: inline-block;
  height: 40px;
}
.problem .problem_arrow::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border-top: 268px solid #fef9e5;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  z-index: -1;
}

.recommended {
  background-color: var(--color_timmew-section-bg);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: var(--color_timmew-font-color);
}
.recommended .recommended_contaner {
  margin: 120px auto;
}
.recommended ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}
.recommended ul p {
  margin: 16px auto;
  width: 150px;
}

.advantages {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: var(--color_timmew-font-color);
}
.advantages .advantages_contaner {
  margin: 120px 64px;
}
.advantages .advantages_contaner .section-title {
  margin-bottom: 32px;
}
.advantages .advantages_contaner .section-title_text {
  font-size: 26px;
  letter-spacing: 0.1em;
  margin-bottom: 80px;
}
.advantages .advantages_contaner li {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 120px;
}
.advantages .advantages_contaner img {
  width: 610px;
  height: 395px;
  background-color: #eee;
}
.advantages .advantages_contaner .img-text {
  flex-direction: row;
}
.advantages .advantages_contaner .img-text img {
  box-shadow: -40px -40px var(--color_timmew-yellow_P0);
}
.advantages .advantages_contaner .text-img {
  flex-direction: row-reverse;
}
.advantages .advantages_contaner .text-img img {
  box-shadow: 40px 40px var(--color_timmew-yellow_P0);
}
.advantages .advantages_contaner .guide-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}
.advantages .advantages_contaner .guide-text h2 {
  font-size: 40px;
  margin-bottom: 24px;
}
.advantages .advantages_contaner .guide-text p {
  font-weight: 600;
}

.start {
  height: 1238px;
  background-color: var(--color_timmew-section-bg);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: var(--color_timmew-font-color);
}
.start .start_contaner {
  margin: 120px auto;
}
.start .start_contaner .section-title {
  margin-bottom: 32px;
}
.start .start_contaner .section-title_text {
  font-size: 26px;
  letter-spacing: 0.1em;
  margin-bottom: 80px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.start .start_contaner .step {
  margin-bottom: 40px;
}
.start .start_contaner .step .step-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start .start_contaner .step img {
  height: 152px;
  z-index: 1;
}
.start .start_contaner .step h3 {
  margin: -20px;
  background-color: var(--color_timmew-yellow_P4);
  color: #fff;
  font-size: 40px;
  width: 800px;
  height: 80px;
  text-align: start;
  line-height: 80px;
  padding-left: 42px;
}
.start .start_contaner .step p {
  text-align: start;
  padding: 10px 0 10px 150px;
  font-size: 24px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
  color: var(--color_timmew-font-color);
}
.question .question_contaner_QA {
  margin: auto;
  width: 800px;
  margin-bottom: 40px;
}
.question .question_contaner_QA dt {
  background-color: var(--color_timmew-yellow_P0);
  height: 92px;
  border-radius: 16px;
}
.question .question_contaner_QA dt img {
  display: inline-block;
  padding: 20px;
}
.question .question_contaner_QA dd {
  display: none;
}
.question .question_contaner_QA dd img {
  display: inline-block;
}
.question .appear dt {
  border-radius: 16px 16px 0 0;
}
.question .appear dd {
  display: block;
  border: solid 2px var(--color_timmew-yellow_P0);
  border-radius: 0 0 16px 16px;
}

.commew-introduction {
  height: 587px;
  background-color: var(--color_timmew-section-bg);
}

.footer {
  background-color: var(--color_timmew-yellow_P0);
  height: 138px;
}/*# sourceMappingURL=style.css.map */